.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4c306f;
  box-shadow: 0 0 10px #1c013d;
  color: #ffffff;
  min-width: 280px;
}
.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-temp {
  align-items: center;
  display: flex;
  gap: 5px;
}
.details-temp span {
  font-size: 38px;
}
