.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  background-color: #dfe1e5;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}
ul {
  list-style-type: none;
}

.button-submit {
  cursor: pointer;
  font-weight: 400;
  padding: 3px 8px;
  border: none;
  background-color: #3288eb;
  border-radius: 5px;
  color: #e6e9ed;
  font-size: 20px;
  transition: color 0.5s ease-in-out;
}
.button-submit:hover {
  color: #261f3b;
}
.button-empty {
  cursor: pointer;
  font-weight: 400;
  padding: 3px 8px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #353536;
  font-size: 20px;
}
